<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle00000.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-42</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>388</integer>
                <key>x</key>
                <integer>1804</integer>
                <key>y</key>
                <integer>1296</integer>
            </dict>
            <key>idle00001.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-44</real>
                <key>offsetY</key>
                <real>46</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>390</integer>
                <key>x</key>
                <integer>1758</integer>
                <key>y</key>
                <integer>432</integer>
            </dict>
            <key>idle00002.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-45</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>390</integer>
                <key>x</key>
                <integer>1736</integer>
                <key>y</key>
                <integer>866</integer>
            </dict>
            <key>idle00003.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-47</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>394</integer>
                <key>x</key>
                <integer>678</integer>
                <key>y</key>
                <integer>1304</integer>
            </dict>
            <key>idle00004.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-48</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>398</integer>
                <key>x</key>
                <integer>1358</integer>
                <key>y</key>
                <integer>1732</integer>
            </dict>
            <key>idle00005.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-49</real>
                <key>offsetY</key>
                <real>48</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>406</integer>
                <key>x</key>
                <integer>1758</integer>
                <key>y</key>
                <integer>1728</integer>
            </dict>
            <key>idle00006.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-48</real>
                <key>offsetY</key>
                <real>48</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>410</integer>
                <key>x</key>
                <integer>1098</integer>
                <key>y</key>
                <integer>2600</integer>
            </dict>
            <key>idle00007.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-47</real>
                <key>offsetY</key>
                <real>50</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>414</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>3038</integer>
            </dict>
            <key>idle00008.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-43</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>404</integer>
                <key>x</key>
                <integer>746</integer>
                <key>y</key>
                <integer>3470</integer>
            </dict>
            <key>idle00009.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-36</real>
                <key>offsetY</key>
                <real>53</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>386</integer>
                <key>x</key>
                <integer>684</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00010.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>53</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>344</integer>
                <key>x</key>
                <integer>1074</integer>
                <key>y</key>
                <integer>434</integer>
            </dict>
            <key>idle00011.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-15</real>
                <key>offsetY</key>
                <real>53</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>2172</integer>
            </dict>
            <key>idle00012.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>1420</integer>
                <key>y</key>
                <integer>434</integer>
            </dict>
            <key>idle00013.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>1398</integer>
                <key>y</key>
                <integer>866</integer>
            </dict>
            <key>idle00014.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-21</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>1018</integer>
                <key>y</key>
                <integer>1736</integer>
            </dict>
            <key>idle00015.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>49</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>340</integer>
                <key>x</key>
                <integer>1510</integer>
                <key>y</key>
                <integer>2598</integer>
            </dict>
            <key>idle00016.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>49</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>340</integer>
                <key>x</key>
                <integer>1494</integer>
                <key>y</key>
                <integer>3030</integer>
            </dict>
            <key>idle00017.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>2208</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00018.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1852</integer>
                <key>y</key>
                <integer>2584</integer>
            </dict>
            <key>idle00019.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>46</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>332</integer>
                <key>x</key>
                <integer>2496</integer>
                <key>y</key>
                <integer>1718</integer>
            </dict>
            <key>idle00020.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-21</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>328</integer>
                <key>x</key>
                <integer>3214</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00021.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-20</real>
                <key>offsetY</key>
                <real>43</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>328</integer>
                <key>x</key>
                <integer>2516</integer>
                <key>y</key>
                <integer>858</integer>
            </dict>
            <key>idle00022.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>42</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>326</integer>
                <key>x</key>
                <integer>2886</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00023.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>43</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>328</integer>
                <key>x</key>
                <integer>2194</integer>
                <key>y</key>
                <integer>1290</integer>
            </dict>
            <key>idle00024.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-20</real>
                <key>offsetY</key>
                <real>45</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>330</integer>
                <key>x</key>
                <integer>2846</integer>
                <key>y</key>
                <integer>858</integer>
            </dict>
            <key>idle00025.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-22</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2188</integer>
                <key>y</key>
                <integer>2584</integer>
            </dict>
            <key>idle00026.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>48</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2548</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00027.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>49</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>1836</integer>
                <key>y</key>
                <integer>3028</integer>
            </dict>
            <key>idle00028.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>50</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>1834</integer>
                <key>y</key>
                <integer>3460</integer>
            </dict>
            <key>idle00029.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-22</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>758</integer>
                <key>y</key>
                <integer>2600</integer>
            </dict>
            <key>idle00030.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-21</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>1738</integer>
            </dict>
            <key>idle00031.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>342</integer>
                <key>y</key>
                <integer>870</integer>
            </dict>
            <key>idle00032.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>346</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00033.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-15</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>342</integer>
                <key>y</key>
                <integer>436</integer>
            </dict>
            <key>idle00034.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-14</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>870</integer>
            </dict>
            <key>idle00035.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-11</real>
                <key>offsetY</key>
                <real>50</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>1304</integer>
            </dict>
            <key>idle00036.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-11</real>
                <key>offsetY</key>
                <real>49</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>342</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00037.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-29</real>
                <key>offsetY</key>
                <real>48</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>370</integer>
                <key>x</key>
                <integer>680</integer>
                <key>y</key>
                <integer>868</integer>
            </dict>
            <key>idle00038.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-41</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>386</integer>
                <key>x</key>
                <integer>2128</integer>
                <key>y</key>
                <integer>862</integer>
            </dict>
            <key>idle00039.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-44</real>
                <key>offsetY</key>
                <real>45</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>390</integer>
                <key>x</key>
                <integer>1412</integer>
                <key>y</key>
                <integer>1298</integer>
            </dict>
            <key>idle00040.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-46</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>392</integer>
                <key>x</key>
                <integer>680</integer>
                <key>y</key>
                <integer>436</integer>
            </dict>
            <key>idle00041.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-48</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>394</integer>
                <key>x</key>
                <integer>756</integer>
                <key>y</key>
                <integer>3038</integer>
            </dict>
            <key>idle00042.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-49</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>400</integer>
                <key>x</key>
                <integer>1356</integer>
                <key>y</key>
                <integer>2168</integer>
            </dict>
            <key>idle00043.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-50</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>406</integer>
                <key>x</key>
                <integer>2174</integer>
                <key>y</key>
                <integer>3458</integer>
            </dict>
            <key>idle00044.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-48</real>
                <key>offsetY</key>
                <real>48</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>410</integer>
                <key>x</key>
                <integer>1454</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00045.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-47</real>
                <key>offsetY</key>
                <real>50</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>416</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>2606</integer>
            </dict>
            <key>idle00046.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-43</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>404</integer>
                <key>x</key>
                <integer>340</integer>
                <key>y</key>
                <integer>3470</integer>
            </dict>
            <key>idle00047.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-33</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>380</integer>
                <key>x</key>
                <integer>1072</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00048.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>53</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>344</integer>
                <key>x</key>
                <integer>1052</integer>
                <key>y</key>
                <integer>868</integer>
            </dict>
            <key>idle00049.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-15</real>
                <key>offsetY</key>
                <real>53</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>3474</integer>
            </dict>
            <key>idle00050.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>1074</integer>
                <key>y</key>
                <integer>1300</integer>
            </dict>
            <key>idle00051.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>1018</integer>
                <key>y</key>
                <integer>2168</integer>
            </dict>
            <key>idle00052.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-21</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>678</integer>
                <key>y</key>
                <integer>2168</integer>
            </dict>
            <key>idle00053.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>49</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>340</integer>
                <key>x</key>
                <integer>1152</integer>
                <key>y</key>
                <integer>3460</integer>
            </dict>
            <key>idle00054.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>49</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>340</integer>
                <key>x</key>
                <integer>1152</integer>
                <key>y</key>
                <integer>3030</integer>
            </dict>
            <key>idle00055.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>2150</integer>
                <key>y</key>
                <integer>432</integer>
            </dict>
            <key>idle00056.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>1758</integer>
                <key>y</key>
                <integer>2156</integer>
            </dict>
            <key>idle00057.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>46</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>332</integer>
                <key>x</key>
                <integer>2424</integer>
                <key>y</key>
                <integer>2152</integer>
            </dict>
            <key>idle00058.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-21</real>
                <key>offsetY</key>
                <real>44</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>328</integer>
                <key>x</key>
                <integer>3156</integer>
                <key>y</key>
                <integer>430</integer>
            </dict>
            <key>idle00059.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-20</real>
                <key>offsetY</key>
                <real>43</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>328</integer>
                <key>x</key>
                <integer>2166</integer>
                <key>y</key>
                <integer>1724</integer>
            </dict>
            <key>idle00060.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>42</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>326</integer>
                <key>x</key>
                <integer>2828</integer>
                <key>y</key>
                <integer>430</integer>
            </dict>
            <key>idle00061.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>43</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>328</integer>
                <key>x</key>
                <integer>2094</integer>
                <key>y</key>
                <integer>2156</integer>
            </dict>
            <key>idle00062.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-20</real>
                <key>offsetY</key>
                <real>45</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>330</integer>
                <key>x</key>
                <integer>2524</integer>
                <key>y</key>
                <integer>1286</integer>
            </dict>
            <key>idle00063.png</key>
            <dict>
                <key>height</key>
                <integer>424</integer>
                <key>offsetX</key>
                <real>-22</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2176</integer>
                <key>y</key>
                <integer>3012</integer>
            </dict>
            <key>idle00064.png</key>
            <dict>
                <key>height</key>
                <integer>426</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>48</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2490</integer>
                <key>y</key>
                <integer>430</integer>
            </dict>
            <key>idle00065.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>49</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>340</integer>
                <key>x</key>
                <integer>1866</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>idle00066.png</key>
            <dict>
                <key>height</key>
                <integer>428</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>50</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>1494</integer>
                <key>y</key>
                <integer>3460</integer>
            </dict>
            <key>idle00067.png</key>
            <dict>
                <key>height</key>
                <integer>430</integer>
                <key>offsetX</key>
                <real>-22</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>678</integer>
                <key>y</key>
                <integer>1736</integer>
            </dict>
            <key>idle00068.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-21</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>3040</integer>
            </dict>
            <key>idle00069.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-19</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2606</integer>
            </dict>
            <key>idle00070.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2172</integer>
            </dict>
            <key>idle00071.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-15</real>
                <key>offsetY</key>
                <real>52</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1738</integer>
            </dict>
            <key>idle00072.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-14</real>
                <key>offsetY</key>
                <real>51</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>338</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>436</integer>
            </dict>
            <key>idle00073.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-11</real>
                <key>offsetY</key>
                <real>50</real>
                <key>originalHeight</key>
                <integer>600</integer>
                <key>originalWidth</key>
                <integer>600</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1304</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>man.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76d634910bf69b92ab83bcacfa9ce57:1/1$</string>
            <key>textureFileName</key>
            <string>man.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>4096</integer>
            <key>width</key>
            <integer>4096</integer>
        </dict>
    </dict>
</plist>
